.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Competitors-container {
  display: grid;
  min-width: 100vw;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

.Competitor {
  margin-top: 10vh;
}